image: caaqe/azure-image-builder:latest

deploy1:
  stage: deploy
  script:
    - az login --service-principal -u $ARM_CLIENT_ID -t $ARM_TENANT_ID -p $ARM_CLIENT_SECRET
    - az account set --subscription $ARM_SUBSCRIPTION_ID
    - az aks get-credentials --resource-group dot-aks-prod --name dot-aks-prod --admin
    - helm repo add jenkins https://charts.jenkins.io
    - helm repo update
    - helm upgrade -i jenkins --create-namespace --namespace jenkins jenkins/jenkins
